@font-face
{
	src: url(fonts/open-sans/OpenSans-Bold);
	font-family: os-bold;
	src: url(fonts/open-sans/OpenSans-BoldItalic);
	font-family: os-bolditalic;
	src: url(fonts/open-sans/OpenSans-ExtraBold);
	font-family: os-Xbold;
	src: url(fonts/open-sans/OpenSans-ExtraBoldItalic);
	font-family: os-Xbolditalic;
	src: url(fonts/open-sans/OpenSans-Italic);
	font-family: os-italic;
	src: url(fonts/open-sans/OpenSans-Light);
	font-family: os-lightitalic;
	src: url(fonts/open-sans/OpenSans-LightItalic);
	font-family: os-lightitalic;
	src: url(fonts/open-sans/OpenSans-Regular);
	font-family: os-regular;
	src: url(fonts/open-sans/OpenSans-Semibold);
	font-family: os-semibold;
	src: url(fonts/open-sans/OpenSans-SemiboldItalic);
	font-family: os-semibolditalic;
}