@import 'reset.scss';
@import 'fonts.scss';
@import 'private.scss';
@import 'mixins.scss';


//header
header 
{
    z-index: 99999;
    overflow:hidden;
    padding-top:15px;
    padding-bottom:15px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-bottom:1px solid grey;
    width:1170px;
    a 
    {
        font-size: 13px;
        font-weight: 600;
        padding: 38px 25px;
        text-transform: uppercase;
    }
    a:hover
    {
        color:#00C7FC;
    }
}


//carousel
ol.carousel-indicators {
    width: auto;
 }
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 0;
    border: 0;
    border-radius: 50%;
    background: transparent;
    margin-right:6px;
 }
 
 ol.carousel-indicators li {
    background: rgba(95, 92, 91, 0.63);
    margin-right:6px;
 }
 
 ol.carousel-indicators li.active {
    background:#00C7FC;
 }


.website-intro
{
    font-family:os-regular;
    background: rgba(1, 204, 255,0.5);
    color:white;
    opacity:50%;
    height: 335px;
    width: 907px;   
    position: absolute;
    padding: 50px 0 50px 65px;
    left:0;
    top:281px;
    h2
    {
        float:right;
        font-size:30px;
        margin-bottom: 20px;
        margin-right:75px;
    }
    p
    {
        float:right;
        width:500px;
        height:69px;
        font-size:13px;
        margin-right:30px;
    }
}

//Services
.section-title
{
    margin-top:50px;
    margin-bottom:100px;
    h2
    {
        font-family:os-regular;
        font-size:30px;
    }
    p
    {
        margin-top:10px;
        color:#A8A8A8;
        font-size:15px;
        font-family:os-regular;
    }

}
.media
{
    margin-bottom:25px;
    margin-left:40px;
    img
    {
        margin-right:50px;
    }
    h3
    {
        color:#00C7FC;
        font-size:25px;
        font-family:os-regular;
    }
    p
    {
        width: 370px;
        height: 62.663 px;
        color:#A8A8A8;
        font-size:15px;
        font-family:os-regular;
    }
}

//Service-Bottom (Phones)
#services-bottom
{
    background-image:url("../img/background/DorYadzXgAMHZn0.jpg");
    background-repeat:no-repeat;
    height:525px;
}

.mobiles
{
    img
    {
        margin-top:125px;
        @extend %float-left;
        position: relative;
    }
    position:relative;
}
.black-phone
{
    left: 88px;
    z-index:2;
}
.white-phone
{
    bottom: -62px;
    z-index:1;
}

.sb-features
{
    background: rgba(1, 204, 255,0.5);
    color:white;
    opacity:50%;
    height: 335px;
    width: 907px;   
    position: absolute;
    padding: 50px 0 50px 65px;
    right:0;
    top:1680px;
    h3
    {
        font-family:os-regular;
        font-size:25px;
        margin-bottom:50px;

    }
    li
    {
        font-size: 20px;
        line-height:40px;

    }
    img
    {
        margin-right:30px;
    }
}

//portfolio
.porfolio-content
{
    li
    {
        font-family:os-regular;
    }
    li:first-child
    {
        background-color:#00C7FC;
        color:white;
    }
    a
    {
        color: black;
        display: block;
        line-height: 18px;
        padding: 10px 20px;
        text-transform: uppercase;
    }
    a:hover
    {
        text-decoration:none;
        background-color:#00C7FC;
        color:white;
    }
}
.photos
{
    display:flex;
	justify-content:space-between;
    flex-wrap:wrap;
    h4
    {
        font-family:os-light;
        font-size:25px;
    }
    span
    {
        font-family:os-italic;
        font-size:15px;
        color:#00C7FC;
    }
}
.wrapper
{
    margin-right:30px;
    margin-top:20px;
    img
    {
        display:none;
        width:125px;
        height:125px;
        position: relative;
        top:-220px;
        right:-112px;
    }
}
.wrapper:hover
{
    img
    {
        display:block;
        margin-bottom:-120px;
    }
}
.wrapper:hover .wrapper-info
{
    display:block;
    margin-bottom:-125px;
    top:-90px;
}
.wrapper-info
{
    transition:all 0.3s ease;
    display:none;
    border:1px solid black;
    position:relative;
    top:-200px;
    width:372px;
    height:90px;
    background-color:white;
    h4
    {
        font-family:os-regular;
        margin-top:10px;
        position:relative;
        margin-left:20px;
    }
    span
    {
        font-family:os-regular;
        position:relative;
        margin-left:20px;
    }
}

.portfolio-1
{
    width:372px;
    height:290px;
	background-image:url("../img/portfolio/portfolio-1.jpg");
	background-size:cover;
    background-position:center;
}
.portfolio-2
{
    width:372px;
    height:290px;
	background-image:url("../img/portfolio/portfolio-2.jpg");
	background-size:cover;
    background-position:center;
}
.portfolio-3
{
    width:372px;
    height:290px;
	background-image:url("../img/portfolio/portfolio-3.jpg");
	background-size:cover;
    background-position:center;
}
.portfolio-4
{
    width:372px;
    height:290px;
	background-image:url("../img/portfolio/portfolio-4.jpg");
	background-size:cover;
    background-position:center;
}



.K-button
{
    background-color: #00c7fc;
    color:white;
    border:none;
    font-size: 16px;
    width:170px;
    height:45px;
}

//video
#Video
{
    background-image:url("../img/background/wp1827945.jpg");
    height:620px;
    h3
    {
        font-family:os-semibold;
        font-size: 25pt;
        color:white;
        margin-top:60px;
    }
    p
    {
        font-family:os-semibold;
        font-size: 13pt;
        color:white;
        margin-top:43px;   
    }
    button
    {
        background-color:black;
        width:130px;
        height:30px;
        margin-bottom:60px;
        font-family: os-semibold;
        font-size: 13pt;
        color: rgba(255, 255, 255, 255);
    }
}
.Video-Here
{
    background: rgba(1, 204, 255,0.5);
    position:absolute;
    margin-top:181px;
    width:100%;
    height:260px;
}

//about-us
.about-us
{
    vertical-align:middle;
    text-align:center;
}

//count
#count
{
    background-image:url("../img/background/colors-studios-15A5254.jpg");
    height:400px;
}
.count-section
{
    @include flex;
    background: rgba(1, 204, 255,0.5);
    position:absolute;
    margin-top:102px;
    width:1170px;
    height:206px;
}

.fact
{
    margin-top:25px;
    span
    {
        display:block;
        font-family: os-bold;
        font-weight:700;
        font-size:50px;
        color:white;
    }
    p
    {
        font-family:os-light;
        color:white;
        font-size:13pt;
    }
}

//testimonial
.title
{
    h3
    {
        margin-top:103px;
        font-family:os-regular;
        font-size: 20pt;
    }
    p
    {
        font-size: 13px;
        color: rgba(168, 168, 168, 255);
        line-height: 25px;
        margin-bottom: 65px;
    }
}



.T-part1
{
    img
    {
        margin-right:60px;
        max-width:100px;
        float:left;
    }
    p
    {
        font-size:14px;
        line-height: 25px;
    }
    span
    {
        font-size:13px;
        float: right;
        font-family:os-italic;
        margin-right:5px;
        color: rgba(168, 168, 168, 255);
    }
}

.T-part2
{
    margin-top:40px;
    img
    {
        margin-right:60px;
        max-width:100px;
        float:left;
    }
    p
    {
        font-size:14px;
        line-height: 25px;
    }
    span
    {
        font-size:13px;
        float: right;
        font-family:os-italic;
        margin-right:5px;
        color: rgba(168, 168, 168, 255);
    }
}
.T-quote
{
    border-bottom: 1px solid #a9a9a9;
  margin: 10px 0 0 160px;
  padding-bottom: 25px;
}

//progress
.progress
{
    margin-bottom: 50px;
    width:439px!important;
    height:25px!important;
}
.progress-bar
{
    background-color: #00c7fc!important;
}

//quote
#quote
{
    background-image:url("../img/background/Pusha+T+banner.jpg");
    height:350px;
    p
    {   
        margin-top:134px;
        font-family:os-semibold;
        font-size: 25px;
        color:white;
    }
    span
    {

        font-family:os-semibold;
        font-size:15px;
        color:white;
    }
}

//pricing
.price
{
    font-family:os-semibold;
    border-top: 1px solid #00c7fc;
    padding-top:32px;
    padding-bottom:10px;
}
.category
{
    font-size: 16pt;
    text-transform: uppercase;
}
.value
{
    font-size: 13px;
    font-weight: 500;
    small
    {
        position:relative;
        font-size: 20px;
        margin-right: 13px;
        top: -27px;
    }
    strong
    {
        font-size: 59.48px;
        margin-right: 7px;
    }
}
.pr-features
{
    ul
    {
        border-bottom: 1px solid #00c7fc;
        border-top: 1px solid #00c7fc;
    }
    li
    {
        font-size: 18px;
        margin-top:20px;
        padding-bottom:20px;
        position:relative;
    }
    li:after
    {
        border-bottom:1px solid #00c7fc;
        @include clear;        
        width: 130px;
        left:50%;
        margin-left: -65px;
        position: absolute;
        padding-bottom:20px;
    }
    li:last-child
    {
        margin-bottom:0;
    }
    li:last-child:after
    {
        border-bottom:none;
    }
}

.btn-price
{
    font-size:16px;
    border: 1px solid #00c7fc;
    background-color:white;
    color: #1f2021;
    margin-top:41px;
    width:130px;
    height:45px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.btn-price:hover, .btn-price:focus, .btn-price:active
{
    background-color: #00C7FC;
    color: white;
}


.special-request
{
    p
    {
        font-size: 20px;
        margin-top:102px;
    }
    button
    {
        margin-top:30px;
        margin-bottom:120px;
    }
}

//subscribe
#subscribe-to-pewdiepie
{
    background-color:black;
    width:100%;
    height:270px;
}
.sub-form
{
    margin-top:105px;
    margin-bottom:105px;
    color:white;
    i
    {
        position:absolute;
        margin-left:23px;
        margin-top:20px;
    }
}
.input-mail
{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 58px;
    text-indent: 60px;
    width: 100%;
}
.sub-btn
{
    background-color:#00C7FC;
    border:none;
    color:white;
    width: 140px;
    height:56px;
    position:absolute;
    top:106px;
    right:16px;
}

//contact-us
.contact-input
{
    border: 1px solid #d1d1d1;
    width:100%;
    height:60px;
    padding:25px;
    margin-bottom:33px;
}
.message
{
    width:100%;
    height:220px;
    padding:10px 25px;
    margin-bottom:43px;
}
.sendmessage
{
    font-family:os-regular;
    @extend %float-right;
    width:220px;
    height:60px;
    font-size:13pt;
    margin-bottom:102px;
}
.contact-info
{
    margin-bottom: 90px;
    span
    {
        font-family:os-regular;
        font-size: 15px;
    }
    p
    {
        font-family:os-regular;
        font-size:15px;
        color:rgba(168, 168, 168, 255);
    }
}

footer
{
    background-image:url("../img/background/galaxy2.jpg");
    background-size:cover;
    height:430px;
    padding:120px 0 40px;
}

.social
{
    margin-top:50px;
    h3
    {
        font-size:20px;
        color:white;
        text-transform: uppercase;
        margin-bottom:20px;
        position:relative;
    }
    h3:after
    {
        border-bottom:1px solid white;
        @include clear;
        padding-top:20px;
        position: absolute;
        width: 230px;
        left: 50%;
        margin-left: -115px;
    }
    ul
    {
       padding-top:20px;
    }
    li
    {
        margin-right:20px;
        margin-left:20px;
        a
        {
            color:white;
        }
        a:hover
        {
            color: #00C7FC;
        }
    }
}

.copyright
{
    margin-top:89px;
    font-family:os-regular;
    font-size:16px;
    color:white;
    a
    {
        color: #00C7FC;
    }
    a:hover
    {
        text-decoration:none;
        color: #00C7FC;
    }
}