/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  scroll-behavior: smooth; }

@font-face {
  src: url(fonts/open-sans/OpenSans-Bold);
  font-family: os-bold;
  src: url(fonts/open-sans/OpenSans-BoldItalic);
  font-family: os-bolditalic;
  src: url(fonts/open-sans/OpenSans-ExtraBold);
  font-family: os-Xbold;
  src: url(fonts/open-sans/OpenSans-ExtraBoldItalic);
  font-family: os-Xbolditalic;
  src: url(fonts/open-sans/OpenSans-Italic);
  font-family: os-italic;
  src: url(fonts/open-sans/OpenSans-Light);
  font-family: os-lightitalic;
  src: url(fonts/open-sans/OpenSans-LightItalic);
  font-family: os-lightitalic;
  src: url(fonts/open-sans/OpenSans-Regular);
  font-family: os-regular;
  src: url(fonts/open-sans/OpenSans-Semibold);
  font-family: os-semibold;
  src: url(fonts/open-sans/OpenSans-SemiboldItalic);
  font-family: os-semibolditalic; }

.mobiles img {
  float: left; }

.sendmessage {
  float: right; }

header {
  z-index: 99999;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid grey;
  width: 1170px; }
  header a {
    font-size: 13px;
    font-weight: 600;
    padding: 38px 25px;
    text-transform: uppercase; }
  header a:hover {
    color: #00C7FC; }

.navbar-default .dropdown-menu {
  background-color: #3344ff;
  color: #ffffff; }

ol.carousel-indicators {
  width: auto; }

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 0;
  border: 0;
  border-radius: 50%;
  background: transparent;
  margin-right: 6px; }

ol.carousel-indicators li {
  background: rgba(95, 92, 91, 0.63);
  margin-right: 6px; }

ol.carousel-indicators li.active {
  background: #00C7FC; }

.website-intro {
  font-family: os-regular;
  background: rgba(1, 204, 255, 0.5);
  color: white;
  opacity: 50%;
  height: 335px;
  width: 907px;
  position: absolute;
  padding: 50px 0 50px 65px;
  left: 0;
  top: 281px; }
  .website-intro h2 {
    float: right;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 75px; }
  .website-intro p {
    float: right;
    width: 500px;
    height: 69px;
    font-size: 13px;
    margin-right: 30px; }

.section-title {
  margin-top: 50px;
  margin-bottom: 100px; }
  .section-title h2 {
    font-family: os-regular;
    font-size: 30px; }
  .section-title p {
    margin-top: 10px;
    color: #A8A8A8;
    font-size: 15px;
    font-family: os-regular; }

.media {
  margin-bottom: 25px;
  margin-left: 40px; }
  .media img {
    margin-right: 50px; }
  .media h3 {
    color: #00C7FC;
    font-size: 25px;
    font-family: os-regular; }
  .media p {
    width: 370px;
    height: 62.663 px;
    color: #A8A8A8;
    font-size: 15px;
    font-family: os-regular; }

.mfix {
  margin-bottom: 100px; }

#services-bottom {
  background-image: url("../img/background/DorYadzXgAMHZn0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 525px; }

.mobiles {
  position: relative; }
  .mobiles img {
    margin-top: 125px;
    position: relative; }

.black-phone {
  left: 88px;
  z-index: 2; }

.white-phone {
  bottom: -62px;
  z-index: 1; }

.sb-features {
  background: rgba(1, 204, 255, 0.5);
  color: white;
  opacity: 50%;
  height: 335px;
  width: 907px;
  position: absolute;
  padding: 50px 0 50px 65px;
  right: 0;
  top: 1600px; }
  .sb-features h3 {
    font-family: os-regular;
    font-size: 25px;
    margin-bottom: 50px; }
  .sb-features li {
    font-size: 20px;
    line-height: 40px; }
  .sb-features img {
    margin-right: 30px; }

.porfolio-content li {
  font-family: os-regular; }

.porfolio-content li:first-child {
  background-color: #00C7FC;
  color: white; }

.porfolio-content a {
  color: black;
  display: block;
  line-height: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.porfolio-content a:hover {
  text-decoration: none;
  background-color: #00C7FC;
  color: white; }

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .photos h4 {
    font-family: os-light;
    font-size: 25px; }
  .photos span {
    font-family: os-italic;
    font-size: 15px;
    color: #00C7FC; }

.wrapper {
  margin-right: 30px;
  margin-top: 20px; }
  .wrapper img {
    display: none;
    width: 125px;
    height: 125px;
    position: relative;
    top: -220px;
    right: -112px; }

.wrapper:hover img {
  display: block;
  margin-bottom: -120px; }

.wrapper:hover .wrapper-info {
  display: block;
  margin-bottom: -125px;
  top: -90px; }

.wrapper-info {
  transition: all 0.3s ease;
  display: none;
  border: 1px solid black;
  position: relative;
  top: -200px;
  width: 372px;
  height: 90px;
  background-color: white; }
  .wrapper-info h4 {
    font-family: os-regular;
    margin-top: 10px;
    position: relative;
    margin-left: 20px; }
  .wrapper-info span {
    font-family: os-regular;
    position: relative;
    margin-left: 20px; }

.portfolio-1 {
  width: 372px;
  height: 290px;
  background-image: url("../img/portfolio/portfolio-1.jpg");
  background-size: cover;
  background-position: center; }

.portfolio-2 {
  width: 372px;
  height: 290px;
  background-image: url("../img/portfolio/portfolio-2.jpg");
  background-size: cover;
  background-position: center; }

.portfolio-3 {
  width: 372px;
  height: 290px;
  background-image: url("../img/portfolio/portfolio-3.jpg");
  background-size: cover;
  background-position: center; }

.portfolio-4 {
  width: 372px;
  height: 290px;
  background-image: url("../img/portfolio/portfolio-4.jpg");
  background-size: cover;
  background-position: center; }

.K-button {
  background-color: #00c7fc;
  color: white;
  border: none;
  font-size: 16px;
  width: 170px;
  height: 45px; }

#Video {
  background-image: url("../img/background/wp1827945.jpg");
  background-size: cover;
  height: 620px; }
  #Video h3 {
    font-family: os-semibold;
    font-size: 25pt;
    color: white;
    margin-top: 60px; }
  #Video p {
    font-family: os-semibold;
    font-size: 13pt;
    color: white;
    margin-top: 43px; }
  #Video button {
    background-color: black;
    width: 130px;
    height: 30px;
    margin-bottom: 60px;
    font-family: os-semibold;
    font-size: 13pt;
    color: white; }

.Video-Here {
  background: rgba(1, 204, 255, 0.5);
  position: absolute;
  margin-top: 181px;
  width: 100%;
  height: 260px; }

.about-us {
  vertical-align: middle;
  text-align: center; }

#count {
  background-image: url("../img/background/colors-studios-15A5254.jpg");
  background-size: cover;
  height: 400px; }

.count-section {
  display: -webkit-flex;
  display: flex;
  background: rgba(1, 204, 255, 0.5);
  position: absolute;
  margin-top: 102px;
  width: 1170px;
  height: 206px; }

.fact {
  margin-top: 25px; }
  .fact span {
    display: block;
    font-family: os-bold;
    font-weight: 700;
    font-size: 50px;
    color: white; }
  .fact p {
    font-family: os-light;
    color: white;
    font-size: 13pt; }

.title h3 {
  margin-top: 103px;
  font-family: os-regular;
  font-size: 20pt; }

.title p {
  font-size: 13px;
  color: #a8a8a8;
  line-height: 25px;
  margin-bottom: 65px; }

.T-part1 img {
  margin-right: 60px;
  max-width: 100px;
  float: left; }

.T-part1 p {
  font-size: 14px;
  line-height: 25px; }

.T-part1 span {
  font-size: 13px;
  float: right;
  font-family: os-italic;
  margin-right: 5px;
  color: #a8a8a8; }

.T-part2 {
  margin-top: 40px; }
  .T-part2 img {
    margin-right: 60px;
    max-width: 100px;
    float: left; }
  .T-part2 p {
    font-size: 14px;
    line-height: 25px; }
  .T-part2 span {
    font-size: 13px;
    float: right;
    font-family: os-italic;
    margin-right: 5px;
    color: #a8a8a8; }

.T-quote {
  border-bottom: 1px solid #a9a9a9;
  margin: 10px 0 0 160px;
  padding-bottom: 25px; }

.progress {
  margin-bottom: 45px;
  width: 439px !important;
  height: 25px !important; }

.progress-bar {
  background-color: #00c7fc !important; }

#quote {
  background-image: url("../img/background/Pusha+T+banner.jpg");
  background-size: cover;
  height: 350px; }
  #quote p {
    margin-top: 134px;
    font-family: os-semibold;
    font-size: 25px;
    color: white; }
  #quote span {
    font-family: os-semibold;
    font-size: 15px;
    color: white; }

.price {
  font-family: os-semibold;
  border-top: 1px solid #00c7fc;
  padding-top: 32px;
  padding-bottom: 10px; }

.category {
  font-size: 16pt;
  text-transform: uppercase; }

.value {
  font-size: 13px;
  font-weight: 500; }
  .value small {
    position: relative;
    font-size: 20px;
    margin-right: 13px;
    top: -27px; }
  .value strong {
    font-size: 59.48px;
    margin-right: 7px; }

.pr-features ul {
  border-bottom: 1px solid #00c7fc;
  border-top: 1px solid #00c7fc; }

.pr-features li {
  position: relative;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 20px; }

.pr-features li:after {
  border-bottom: 1px solid #00c7fc;
  display: block;
  content: "";
  clear: both;
  width: 130px;
  left: 50%;
  margin-left: -65px;
  position: absolute;
  padding-bottom: 20px; }

.pr-features li:last-child {
  margin-bottom: 0; }

.pr-features li:last-child:after {
  border-bottom: none; }

.btn-price {
  font-size: 16px;
  border: 1px solid #00c7fc;
  background-color: white;
  color: #1f2021;
  margin-top: 41px;
  width: 130px;
  height: 45px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.btn-price:hover, .btn-price:focus, .btn-price:active {
  background-color: #00C7FC;
  color: white; }

.special-request p {
  font-size: 20px;
  margin-top: 102px; }

.special-request button {
  margin-top: 30px;
  margin-bottom: 120px; }

#subscribe-to-pewdiepie {
  background-color: black;
  width: 100%;
  height: 270px; }

.sub-form {
  margin-top: 105px;
  margin-bottom: 105px;
  color: white; }
  .sub-form i {
    position: absolute;
    margin-left: 23px;
    margin-top: 20px; }

.input-mail {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 58px;
  text-indent: 60px;
  width: 100%; }

.sub-btn {
  background-color: #00C7FC;
  border: none;
  color: white;
  width: 140px;
  height: 56px;
  position: absolute;
  top: 106px;
  right: 16px; }

.contact-input {
  border: 1px solid #d1d1d1;
  width: 100%;
  height: 60px;
  padding: 25px;
  margin-bottom: 33px; }

.message {
  width: 100%;
  height: 220px;
  padding: 10px 25px;
  margin-bottom: 43px; }

.sendmessage {
  font-family: os-regular;
  width: 220px;
  height: 60px;
  font-size: 13pt;
  margin-bottom: 102px; }

.contact-info {
  margin-bottom: 90px; }
  .contact-info span {
    font-family: os-regular;
    font-size: 15px; }
  .contact-info p {
    font-family: os-regular;
    font-size: 15px;
    color: #a8a8a8; }

footer {
  background-image: url("../img/background/Logic.png");
  background-size: cover;
  width: 100%;
  height: 430px;
  padding: 120px 0 40px; }

.social {
  margin-top: 50px; }
  .social h3 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative; }
  .social h3:after {
    border-bottom: 1px solid white;
    display: block;
    content: "";
    clear: both;
    padding-top: 20px;
    position: absolute;
    width: 230px;
    left: 50%;
    margin-left: -115px; }
  .social ul {
    padding-top: 20px; }
  .social li {
    margin-right: 20px;
    margin-left: 20px; }
    .social li a {
      color: white; }
    .social li a:hover {
      color: #00C7FC; }

.copyright {
  margin-top: 89px;
  font-family: os-regular;
  font-size: 16px;
  color: white; }
  .copyright a {
    color: #00C7FC; }
  .copyright a:hover {
    text-decoration: none;
    color: #00C7FC; }

@media screen and (max-width: 1400px) {
  .website-intro {
    top: 150px;
    width: 800px; }
  .sb-features {
    top: 1370px;
    width: 700px; }
  .black-phone {
    height: 350px;
    top: 50px; }
  .white-phone {
    height: 290px;
    bottom: -110px; } }

@media screen and (max-width: 1205px) {
  .website-intro {
    top: 125px;
    width: 700px; }
    .website-intro h2 {
      font-size: 26px;
      margin-right: 135px; }
  .sb-features {
    top: 1330px;
    width: 650px; }
  .count-section {
    width: 900px;
    margin-left: 100px;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 1185px) {
  header {
    border-bottom: 1px solid grey;
    width: 900px; } }

@media screen and (max-width: 1085px) {
  .website-intro {
    top: 120px;
    width: 550px;
    height: 300px; }
    .website-intro h2 {
      font-size: 22px;
      margin-right: 48px; }
    .website-intro p {
      width: 350px; }
  .media {
    margin-right: 20px; }
    .media p {
      width: 300px; }
  .sb-features {
    top: 1280px;
    width: 600px;
    height: 300px; }
    .sb-features h3 {
      font-size: 22px;
      margin-bottom: 25px; }
    .sb-features li {
      font-size: 17px; }
  .black-phone {
    height: 310px;
    top: 90px; }
  .white-phone {
    height: 260px;
    bottom: -140px; }
  .count-section {
    width: 900px;
    margin-left: 25px; }
  .progress {
    width: 365px !important; } }

@media screen and (max-width: 992px) {
  .navbar-toggler {
    background-color: #00C7FC !important;
    opacity: 0.8; }
  header {
    border-bottom: 1px solid grey;
    width: 700px;
    border-bottom: none; }
  .website-intro {
    top: 100px;
    width: 550px;
    height: 280px; }
    .website-intro h2 {
      margin-right: 10px; }
    .website-intro p {
      margin-right: 5px; }
  .media {
    margin-right: 20px; }
    .media img {
      width: 40px; }
    .media h3 {
      font-size: 20px; }
    .media p {
      width: 250px; }
  .sb-features {
    top: 1220px;
    width: 500px;
    height: 300px; }
    .sb-features h3 {
      font-size: 22px;
      margin-bottom: 25px; }
    .sb-features li {
      font-size: 17px; }
  .mobiles {
    right: 100px; }
  .black-phone {
    height: 310px;
    top: 90px; }
  .white-phone {
    height: 260px;
    bottom: -140px; }
  .count-section {
    width: 700px;
    margin-left: 25px; }
  .about-us img {
    width: 650px; }
  #Testimonial-Slider {
    width: 400px; }
  .progress {
    width: 320px !important; } }

@media screen and (max-width: 850px) {
  .website-intro {
    top: 100px;
    height: 230px; }
    .website-intro h2 {
      font-size: 20px;
      margin-right: 50px; }
  .mobiles {
    right: 100px; }
  .black-phone {
    height: 290px;
    top: 110px; }
  .white-phone {
    height: 230px;
    bottom: -170px; }
  .sb-features {
    padding-top: 30px;
    padding-left: 50px;
    height: 270px; }
    .sb-features h3 {
      font-size: 20px; }
  .photos {
    justify-content: center; } }

@media screen and (max-width: 806px) {
  .progress {
    width: 250px !important; }
  .website-intro {
    height: 200px;
    padding-top: 30px;
    width: 500px; }
  .media p {
    width: 200px; } }

@media screen and (max-width: 768px) {
  header {
    width: 550px; }
  .website-intro {
    top: 100px;
    height: 150px;
    width: 450px;
    padding-top: 20px; }
    .website-intro h2 {
      font-size: 18px;
      margin-right: 110px; }
    .website-intro p {
      width: 410px; }
  .media img {
    margin-right: 50px; }
  .media h3 {
    font-size: 25px; }
  .media p {
    width: 300px; }
  .mfix {
    margin-bottom: 20px; }
  .mobiles {
    right: 150px; }
  .sb-features {
    top: 1290px;
    width: 450px; }
  .black-phone {
    height: 270px;
    top: 130px; }
  .white-phone {
    height: 210px;
    bottom: -190px; }
  .about-us img {
    width: 480px; }
  .count-section {
    width: 600px;
    margin-left: -30px; }
  .fact span {
    font-size: 40px; }
  .fact p {
    font-size: 13px; }
  #Testimonial-Slider {
    width: 467px; }
  .progress-bars {
    margin-left: 22px; }
  .price {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-top: 1px solid #00C7FC; }
  .pr-features ul {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid #00C7FC; }
  .progress {
    width: 439px !important; }
  .btn-price {
    margin-bottom: 80px; } }

@media screen and (max-width: 618px) {
  .count-section {
    width: 550px;
    margin-left: 2px; } }

@media screen and (max-width: 575px) {
  header {
    width: 400px; }
  .website-intro {
    width: 350px;
    height: 100px; }
    .website-intro h2 {
      font-size: 18px;
      margin-right: 10px; }
    .website-intro p {
      display: none; }
  .black-phone {
    height: 240px;
    top: 160px; }
  .mobiles {
    right: 80px; }
  .white-phone {
    height: 190px;
    bottom: -210px; }
  .sb-features {
    height: 250px;
    width: 350px; }
  .count-section {
    width: 450px;
    margin-left: 55px; }
    .count-section span {
      font-size: 20px; }
    .count-section p {
      font-size: 12px; }
  #Testimonial-Slider {
    width: 350px;
    margin-left: 80px; }
  #Our-Skills {
    margin-top: 30px; }
  .progress {
    width: 350px !important; }
  .progress-bars {
    margin-left: 80px; }
  #quote p {
    font-size: 20px; } }

@media screen and (max-width: 523px) {
  header img {
    width: 90px; }
  .section-title h2 {
    font-size: 25px; }
  .about-us img {
    width: 400px; }
  .count-section {
    width: 400px;
    margin-right: 10px; }
  .mfix {
    margin-bottom: 35px; }
  .sb-features {
    width: 300px;
    padding-top: 20px;
    padding-left: 28px;
    top: 1240px; }
    .sb-features h3 {
      font-size: 18px; }
    .sb-features li {
      font-size: 15px; } }

@media screen and (max-width: 475px) {
  header {
    padding-top: 5px; }
  .website-intro {
    width: 300px;
    top: 64px; }
  .media img {
    width: 30px;
    margin-right: 25px; }
  .media h3 {
    font-size: 22px; }
  .media p {
    width: 280px; }
  .count-section {
    width: 350px; }
  #Testimonial-Slider {
    margin-left: 35px; }
  .progress-bars {
    margin-left: 35px; } }

@media screen and (max-width: 430px) {
  header {
    width: 350px; }
  .media img {
    margin-right: 20px; }
  .media p {
    width: 250px; }
  .black-phone {
    height: 190px;
    top: 210px; }
  .mobiles {
    right: 80px; }
  .white-phone {
    height: 150px;
    bottom: -250px;
    left: 20px; }
  .sb-features {
    padding-top: 25px;
    width: 250px; }
    .sb-features li {
      font-size: 14px;
      line-height: 30px; }
  .about-us img {
    width: 350px; }
  .wrapper {
    margin-left: 15px; }
    .wrapper img {
      left: 85px; }
  .wrapper-info {
    width: 300px; }
  .portfolio-1 {
    width: 300px;
    margin-bottom: 30px; }
  .portfolio-2 {
    width: 300px;
    margin-bottom: 30px; }
  .portfolio-3 {
    width: 300px;
    margin-bottom: 30px; }
  .portfolio-4 {
    width: 300px;
    margin-bottom: 30px; }
  .count-section {
    margin-left: 30px; }
  #Video h3 {
    font-size: 25px; }
  #Testimonial-Slider {
    margin-left: 18px; }
    #Testimonial-Slider img {
      width: 90px; }
  .progress {
    width: 300px !important; } }

@media screen and (max-width: 365px) {
  header {
    padding-top: 0px;
    width: 320px; }
  .website-intro {
    padding-top: 10px;
    width: 250px;
    top: 50px;
    height: 70px; }
    .website-intro h2 {
      font-size: 15px; }
  .media p {
    width: 200px; }
  .sb-features {
    width: 250px;
    height: 230px;
    top: 1320px; }
  .black-phone {
    height: 150px;
    top: 250px; }
  .mobiles {
    right: 80px; }
  .white-phone {
    height: 120px;
    bottom: -280px;
    left: 40px; }
  .wrapper {
    margin-left: 15px; }
  .wrapper-info {
    width: 280px; }
  .portfolio-1 {
    width: 280px;
    margin-bottom: 30px; }
  .portfolio-2 {
    width: 280px;
    margin-bottom: 30px; }
  .portfolio-3 {
    width: 280px;
    margin-bottom: 30px; }
  .portfolio-4 {
    width: 280px;
    margin-bottom: 30px; }
  .about-us img {
    width: 300px; }
  .count-section {
    width: 300px;
    margin-left: 15px; }
  #Testimonial-Slider {
    width: 250px; }
  .progress {
    width: 250px !important; }
  #quote p {
    margin-top: 120px; }
  .T-quote {
    margin-left: 130px; }
  .T-part1 img {
    margin-right: 30px; }
  .T-part2 img {
    margin-right: 30px; }
  .sub-btn {
    top: 180px;
    right: 105px; }
  .navbar-collapse.in {
    background: grey; } }
